.taxonomy-menu-tree li:not(.without-nesting)>i {
  cursor: pointer;
  display: block;
  width: 35px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 5px 5px 0;
  background-image: url("../icons/next.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 14px 13px;
}

.taxonomy-menu-tree a {
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.taxonomy-menu-tree a:hover {
  text-decoration: none;
}


.taxonomy-menu-tree .term-name {
  position: relative;
  margin: 10px 10px;
  display: inline-block;
}

.taxonomy-menu-tree .menu-tree-nested {
  overflow: hidden;
  height: auto;
  max-height: 0;
  transition: all 0.5s;
}

.taxonomy-menu-tree .menu-tree-main-level {
  max-height: 9000px;
  transition: all 1s;
  margin: 0 auto 25px;
  padding: 0;
}

.taxonomy-menu-tree .menu-tree-nested.active {
  max-height: 1000px;
  transition: all 1s;
}

.taxonomy-menu-tree li {
  padding-left: 30px;
  min-height: 44px;
  position: relative;
  list-style: none;
}

.taxonomy-menu-tree li.without-nesting {
  padding-left: 15px;
}

.taxonomy-menu-tree .menu-tree-main-level>li.without-nesting {
  padding-left: 0;
}

.taxonomy-menu-tree .menu-tree-main-level>li.without-nesting a {
  padding-left: 15px;
}
