.field--widget-taxonomy-vocabulary-tree-widget fieldset {
  margin-bottom: 0;
}

.field--widget-taxonomy-vocabulary-tree-widget .ajax-progress {
  position: absolute;
}
.field--widget-taxonomy-vocabulary-tree-widget .ajax-progress .throbber{
  padding: 7px;
}
.field--widget-taxonomy-vocabulary-tree-widget .ajax-progress .message{
  display: none;
}

.field--widget-taxonomy-vocabulary-tree-widget fieldset legend {
  padding: 0 0 10px 10px;
}

.field--widget-taxonomy-vocabulary-tree-widget .depth-wrapper {
  border: 1px solid #bfbfbf;
}
.field--widget-taxonomy-vocabulary-tree-widget .category-children-wrapper {
  display: flex;
}

.field--widget-taxonomy-vocabulary-tree-widget .form-checkboxes {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding: 10px;
  margin-right: -1px;
}

.field--widget-taxonomy-vocabulary-tree-widget .form-checkboxes .form-item {
  margin-right: 10px;
}
